*{
    box-sizing: border-box;
}

body{
    /* background-color: #FAFAFF; */
    color: #000000;
    font-family: "Open Sans", "Sans Serif";
    margin: 0;
    padding: 0;
}

/* navigation */
nav ul{
    margin: 0;
    padding: 0;
    text-align: center;
}
nav li{
    background-color:#EEF0F2;
    padding: 10px;
    border: 1px solid black;
    display: inline-block;
    width: 20%;

}

main{
    background-color: #fafaff;
    margin: 0 auto;
    border: black solid 2px;
    height: auto;
}

footer{
    background-color:#27AB83;
    /* border: solid black; */
    max-height: 5%;
    min-height: 1%;
    margin-bottom: 0px;
    margin-top: 5%;

}
footer p{
    position: inherit;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 1em;
    font-weight: bold;
}

/* navigation styling */
.active{
    background:white;
    text-transform: uppercase;
    text-align: center;
}

.active a{
    text-decoration: none;
    background-color: #82E3C6;
}
a{
    color: #00008F;
}


h1{
    font-size: 1em;
    font-weight: bold;
    margin: 20px 0px 20px 0px;
    padding-top: 1%;
}

/* Images and gallery */
img{
    border: 0.3em solid #000000;
    width: 20%;
    height: auto;
    max-height: 30%;
    margin: 0.5%;
}

img:nth-child(2n){
    border: 0.4em solid #247ba0;
}

img:hover, *:focus{
    box-shadow: 10px 10px #27AB83;
}

h2{
    font-size: 2em;
    font-weight: bold;
    margin: 1% 0 10% 1%;
    margin-bottom: 1%;
}

p{
    font-size: 1em;
    margin-left: 1%;
    padding: 0% 0% 1% 0%;
    line-height: 150%;
}
.gallery{
    margin: 5% 0 1% 0;
}



